@media screen and (max-width: 576px) {
  .header {
    height: 400px;
  background-image: url("https://media.licdn.com/dms/image/D5612AQGPu_Bp3Z3psg/article-inline_image-shrink_1000_1488/0/1671546666158?e=1678320000&v=beta&t=F2cE1LriNwe3YXNcGvBXLbuqTs9iNmu8EWDdn8Grq1I");
  background-size: cover;
  }
  .body {
    height: 500px;
    background-image: url("https://i.pinimg.com/originals/0e/a9/fb/0ea9fb2b190d2bbb067baba68625b60c.jpg");
    background-size: cover;
  }
}

